<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MES系统</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
<div class="row">
  <div class="col-xs-12" style="text-align: center" >
  <h1>MES系统</h1>

</div>
<div class="row">
  <div class="col-xs-12" style="text-align: center">
	 <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
	</ol>
	<h2>用户信息</h2>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-2">
	<table class="table-bordered">
		<thead>
			<th>我的关注</th>
		</thead>
		<tbody>
			<tr>
				<td>神华TSR项目</td>
			</tr>
			<tr>
				<td>鄂温克TSR项目</td>
			</tr>
		</tbody>
	</table>
  </div>

  <div class="col-xs-6 col-sm-8">
  <table class="table table-hover">
  <thead>
    <th>序号</th>
    <th>合同号</th>
    <th>合同名称</th>
    <th>合同状态</th>
    <th>是否添加为关注</th>
  </thead>
  <tbody>
    <tr>
	    <td>1</td>
	    <td>JB17PE1110</td>
	    <td>神华国华电厂TSR</td>
	    <td>排产阶段</td>
    </tr>
  </tbody>
  </table>


  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-2">

  </div>
</div>
</div>
</body>
</html>